.add-experience {
    color: black;
    font-size: 20px;
    border-width: 1px;
    border-color: grey;
}

.add-experience:hover {
    background: #9BA17B;
    color: black;
    cursor: pointer;
    border: solid 1px #61764B;
}

.title {
    margin-top: 50px;
    font-size: 60px;
    margin-left: 15%;
}

.rowOrderHistory {
    background-color: white;
}

.headerRow1 {
    background-color: #CFB997;
    padding: 3px;
}

.hoverRow {
    border-radius: 10px;
    margin-top: 4px;
    padding: 10px;
    transition: 0.3s ease-out;
}

.hoverRow:hover {
    transform: scale(1.02);
}