p {
    font-size: 20px;
    font-family: "JetBrains Mono";
}

.title {
    margin-top: 50px;
    font-size: 60px;
    margin-left: 14.5%;
}

.row {
    background-color: white;
}

.headerRow {
    background-color: #CFB997;
    height: 80px;
    text-align: center;
}

.hoverRow {
    border-radius:10px;
    margin-top: 4px;
    padding: 10px;
    transition: 0.3s ease-out;
}

.hoverRow:hover {
    transform: scale(1.02);
}