.navbar_info {
  overflow: hidden;
  background-color: #61764B;
  font-family: "JetBrains Mono";
}

.navbar_info a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.drop {
  overflow: hidden;
}

.drop-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.25s ease-out;

}

.drop-content a:hover {
  background-color: #ddd;
}

.drop:hover .drop-content {
  display: block;
}

.logo {
  height: 30px;
  width: 30px;
}

.gradient {
  border: none;
  position: relative;
  background-color: #61764B;
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9BA17B;
  z-index: -1;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}