.eiei {
    margin-left: auto;
    margin-right: 0;
}

.eiei2 {
    margin-left: auto;
    margin-right: 10;
}

.headerText {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
  }
  