.headerText {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
}
.eiei {
  margin-left: auto;
  margin-right: 0;
}

.eiei2 {
  margin-left: auto;
  margin-right: 10;
}   

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}
.add-experience{
  color: black;
  border: solid 1px grey;
  transition: 0.3s ease-out;
}
.add-experience:hover {
  background: #9BA17B;
  color:black;
  cursor: pointer;
  border: solid 1px #61764B;
}

.vl2 {
  border-left: dotted 1px #ba68c8;
  height: 621px;
  position: absolute;
  left: 60%;
  margin-left: -3px;
  top: 20;
}

.vl1 {
  border-left: dotted 1px #ba68c8;
  height: 621px;
  position: absolute;
  left: 31%;
  margin-left: -3px;
  top: 20;
}
