@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

h1 {
  font-family: "JetBrains Mono", sans-serif;
}

p {
  font-family: "JetBrains Mono", sans-serif;
  text-align: justify;
}

b {
  font-family: "JetBrains Mono", sans-serif;
}

.size {
  width: 400px;
}

.product {
    color: black;
    text-align: left;
    font-weight: 600;
    margin-top: 50px;
    margin-left:15.5%;
    font-size: 100px;
  }


.background {
  background-color:grey;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.btn {
  margin-top: 10px; 
  background-color:#9BA17B ; 
  border:none;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color:#CFB997 ; 
}

.btn:disabled {
  background-color:#9BA17B ; 
}

.cardShopTable {
  transition: 0.3s ease-out;
}

.cardShopTable:hover {
  transform: scale(1.02);
}

