@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

h1 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.cardcss {
  width: 400px;
}

.mt-50 {
  margin-top: 50;
}

.select {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.select:hover {
  background-color: #ddd;
}

.select.active {
  background-color: #666;
  color: white;
}

.search-container {
  float: right;
}


.search-container input[type=text] {
  padding: 9px;
  /* max-height: 50px; */
  /* margin-top: 8px; */
  font-size: 17px;
  border: 1px solid #ddd;
}

 .search-container button {
  float: right;
  padding: 9px;
  max-height: 44px;

  /* margin-top: 8px; */
  /* margin-right: 16px; */
  background: #ddd;
  border:none;
  font-size: 17px;
  cursor: pointer;
}

 .search-container button:hover {
  background: #ccc;
}


.detail-container {
  float: left;
}

/* .detail-container i {
  padding: 6px;
  margin-top: 8px;
  font-size: 40px;
  
} */

.detail-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.btn {
  margin-top: 10px; 
  background-color:#9BA17B ; 
  border:none;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color:#CFB997 ; 
}

.btn:disabled {
  background-color:#9BA17B ; 
}

.cardShop {
  transition: 0.3s ease-out;
}

.cardShop:hover {
  transform: scale(1.02);
}
