/* body {
  background-color: dimgrey;
} */

.welcomeText {
  color: black;
  /* text-align: center; */
  margin-top: 10%;
  margin-left: 2%;
  font-size: 100px;
  font-family: "JetBrains Mono", Times, serif;
}

#down {
  margin-top: 100%;
  padding-bottom: 25%;
}

a {
  text-decoration: none;
}


.button-59 {
  border-radius: 12px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 30px;
  /* font-weight: 600; */
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  /* line-height: 24px; */
  min-width: 140px;
  outline: 0;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #61764B;
  background-color: #9BA17B;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}